---
const isJsx = true
const content = "hi!";
---

<article>
  <div>{content}</div>
  <div>
    {isJsx && (
      <h1>{content}</h1>
    )}
  </div>
</article>


<script>
  let {  log: logger } = console
  document.querySelector('h1')?.addEventListener('click', () => {
        logger('clicked');
  });

  function someFunction() {
    const theme = (() => {
      if (
        typeof localStorage !== 'undefined' && localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme')
      }
    })()
    if (theme === 'light') {
      document.documentElement.classList.remove('dark')
    } else {
      document.documentElement.classList.add('dark')
    }
    return
  }
  someFunction()
</script>
