@media (max-width: 480px) {
  .bd-examples {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }

  .bd-examples > [class^="col-"] {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
